<!DOCTYPE html>
<html>
<head>
<title>Cars Page</title>
</head>
<body>

    <h2>Cars Info</h2>
    <h3> Toyota Supra </h3>
    <img src="images/supra.jpg" alt="Toyota Supra" style="height: 300px; width: 500px;">
    <h3> BMW Z4 </h3>
    <img src="images/z4.jpg" alt="Toyota Supra" style="height: 300px; width: 500px;">
    <h3> Corvette Stingray </h3>
    <img src="images/corvette.jpg" alt="Toyota Supra" style="height: 300px; width: 500px;">


</body>
</html>
