<!DOCTYPE html>
<html>
<head>
<title>This is Ruby Cat. Meow!</title>
</head>
<body>

    <h2>This is Ruby, and she says 'hi meow!'</h2>
    <p>Ruby has her unique set of eyes like noone else. </p>
    <img src="images/ruby.jpg" alt="Ruby Cat">

</body>
</html>
