<html>
    <head>
        <title>Greatest Number Game</title>
    </head>
    <body>
        <div class="container">
            <h3>I am thinking about a number between 1 and 100. Can you guess?</h3>
            <form action='/guess' method='POST'>
                <input type='text' name ='guessinput'> 
                <input type='submit' name="submit" value='submit'>
            </form>
        </div>

    </body>
</html>