<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Greatest Number Game</title>
</head>
<body>
	<h2>Your guess is: <strong><%= data.guessnum %></strong></h2>
	<h3>This is you guess number: <%= counter %></h3>

	<a href="/"><h3>Back</h3></a>

	<form action='/guess' method='POST'>
		<input type='text' name ='guessinput'> 
		<input type='submit' name="submit" value='submit'>
	</form>
	<form action='/reset' method='POST'>
	<input type='submit' name="submit" value='Reset'>
	</form>
</body>
</html>

