<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h1 class='jumbotron'>New Page!</h1>
  <!-- Submitted form will POST to / route -->
  <form action="/" method='post'>
    Name: <input type="text" name="name">
    Weight: <input type="text" name="weight">
    Color: <input type="text" name="color">
    <input type="submit" value="Add new bird!">
  </form>
</body>
</html>